* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

#product-overview {
    background: url("./freedom.jpg");
    background-size: 25%;
    width: 100%;
    height: 528px;
    padding: 10px;

}

.section-title {
    color: #051937;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

/* h1 {
    font-family: sans-serif;
} */

.main-header {
    background: #F9F871;
    width: 100%;
    padding: 8px 16px;
    margin: 0;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.brand {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

.main-nav{
    display: inline-block;
    text-align: right;
    width: calc(100% - 73px);
    vertical-align: middle;
}

.main-nav__items {
    margin: 0;
    padding: 0;
}

.main-nav__item {
    display: inline-block;
    margin: 0 16px;
}

.main-nav__item a {
    text-decoration: none;
    color: #0e4f1f;
    padding: 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active
 {
    font-weight: bold;
    border-bottom: 3px solid #0e4f1f;
}

.main-nav__item--cta a {
    color: #52B0AA;
    background: white;
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: bold;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
    color: white;
    background: #52B0AA;
    border: none;
}
